{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block header %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="mth2610">


    <title>Data monitoring for Envifarm</title>
    {% load staticfiles %}
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/timeline.css" %}' rel="stylesheet">
    <link href='{% static "css/sb-admin-2.css" %}' rel="stylesheet">
    <link href='{% static "css/metisMenu.min.css" %}' rel="stylesheet">
    <link href='{% static "css/morris.css" %}' rel="stylesheet">
    <link href='{% static "font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    {% block additional_css %}
    {% endblock %}

</head>
{% endblock %}

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Aquaponics monitoring</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Sites<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              {% for site in site_code %}
                                <li>
                                    <a href="#">{{ site.site_code }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </div>

    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/metisMenu.min.js" %}'></script>
    <script src='{% static "js/raphael-min.js" %}'></script>
    <!-- <script src='{% static "js/morris.min.js" %}'></script>
    <script src='{% static "js/morris-data.js" %}'></script> -->
    {% block additional_js %} {% endblock %}
</body>

</html>
